* {
    margin: 0;
    padding: 0;
}
.navig {
    background-color: rgba(0, 0, 0, 0.31);
}

html {
    overflow-x: hidden;
}

.measure {
margin-left:auto;
margin-right: auto;}

nav img {
    margin-top: 7px;
    height: 55px;
    width: auto;
    padding-left: 30px!important;

}

.scroll-touch {
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.about {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

body {
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: white;
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    background-attachment: fixed;
}

.naviLinks {
   padding-bottom: 5px;
   color: #fff!important;
   opacity: 0.2 important;
   border-bottom: 2px solid transparent;
   border-bottom-height: 3px;
   -webkit-transition: all 0.3s!important;
   -o-transition: all 0.3s!important;
   transition: all 0.3s!important;
}

.naviLinks:hover {
    border-bottom: 2px solid #B06AB3;
}

.button-call {
    border-radius: 200px;
    padding: 12px;
    border: 1px solid white;
    -webkit-box-shadow: 8px 8px 80px #4568DC;
            box-shadow: 8px 8px 80px #4568DC;
    -webkit-transition: all 0.5s!important;
    -o-transition: all 0.5s!important;
    transition: all 0.5s!important;

}

.button-call:hover {
    border: 1px solid #4568DC;
    -webkit-box-shadow: none;
            box-shadow: none;

}

a:focus {outline:none !important;}


