* {
    margin: 0;
    padding: 0;
}
.navig {
    background-color: rgba(0, 0, 0, 0.31);
}

nav img {
    margin-top: 7px;
    height: 55px;
    width: auto;
    padding-left: 30px!important;

}

footer {
    opacity: 0.5;
    background: #4AC29A;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#BDFFF3), to(#4AC29A));
    background: -webkit-linear-gradient(left, #BDFFF3, #4AC29A);
    background: -o-linear-gradient(left, #BDFFF3, #4AC29A);
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.17)), to(rgba(0, 0, 0, 0.17))), url(/static/images/backabstract.png);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.17)), url(/static/images/backabstract.png);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.17)), url(/static/images/backabstract.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.17)), url(/static/images/backabstract.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.naviLinks {
   padding-bottom: 5px;
   color: #fff!important;
   opacity: 0.2 important;
   border-bottom: 2px solid transparent;
   border-bottom-height: 3px;
   -webkit-transition: all 0.3s!important;
   -o-transition: all 0.3s!important;
   transition: all 0.3s!important;
}

.naviLinks:hover {
    border-bottom: 2px solid #B06AB3;
}

.button-call {
    border-radius: 200px;
    padding: 12px;
    border: 1px solid white;
    -webkit-box-shadow: 8px 8px 80px #4568DC;
            box-shadow: 8px 8px 80px #4568DC;
    -webkit-transition: all 0.5s!important;
    -o-transition: all 0.5s!important;
    transition: all 0.5s!important;

}

.button-call:hover {
    border: 1px solid #4568DC;
    -webkit-box-shadow: none;
            box-shadow: none;

}

a:focus {outline:none !important;}


