{%extends 'navigation.html'%}
{%block content%}
<div class="about tc mt5 mb5 scroll-touch">
    <h1 class="tc">About Me</h1>
    <p class=" about tl lh-title">
        Growing up, I wanted to be an accountant because I was told that it is an amazing career choice with good salary and benefits but that changed the moment I wrote and executed my first line of code, I spent the entire day in front of my laptop learning how to code. It was, and still is a challenging and yet the most exciting journey of my life. I will tell you all about it over coffee.
        <br><br>With the knowledge and I skills I have accumulated, I would like to work on complex, large and challenging projects. I am looking forward to working with people who are smarter than me, passionate about what they do, and I can learn from.<br><br> My aim is to have a positive impact in a workplace, therefore I will always be open to opportunities that allows me share my skills and knowledge.
        After learning Python, I was hooked, It is a very powerful tool and I would love to work more with it.
        Moving forward,
        I'd love to work with Java, Go, NGINX and GraphQL
        I am open to opportunities involving full-stack, back-end or front-end roles.
    </p>
</div>

{%endblock%}
