{%extends 'navigation.html'%}

{%block content%}
<div>
    <article class="vh-100 dt w-100">
      <div class="dtc v-mid tc white ph3 ph4-l ph4">
          <h1 class="f1-m f2-m f-subheadline-l fw6 fw6-ns tc f2">Committed to awesome c<span data-tilt><i class="em em-heart animated heartBeat infinite f2-ns f5"></i></span>de.</h1>
          <a class="button-call animated bounceInLeft f4-ns f-3 fw3 link dib white" href="{{url_for('about')}}">What I can do</a>
      </div>
    </article>

</div>

{%endblock%}
