{%extends 'navigation.html'%}
{%block content%}
<div class="tc black pb7">
    <div class="fl w-50-m w-50-l w-100 pa2 animated bounceInUp">
        <h1>Python</h1>
        <p>feature will go here. feature will go here. feature will go here.</p>
        <p>feature will go here.</p>
        <p>feature will go here.</p>
        <p>feature will go here.</p>
        <p>feature will go here.</p>
    </div>
    <div class="fl w-50-m w-50-l w-100 pa2 animated bounceInUp">
        <h1>JavaScript</h1>
        <p>feature will go here.</p>
        <p>feature will go here.</p>
        <p>feature will go here.</p>
        <p>feature will go here.</p>
    </div>
</div>
<div class="tc black pb7">
    <div class="fl w-50-m w-50-l w-100 pa2 animated bounceInUp">
    <h1>Python</h1>
    <p>feature will go here. feature will go here. feature will go here.</p>
    <p>feature will go here.</p>
    <p>feature will go here.</p>
    <p>feature will go here.</p>
    <p>feature will go here.</p>
    </div>
    <div class="fl w-50-m w-50-l w-100 pa2 animated bounceInUp">
        <h1>JavaScript</h1>
        <p>feature will go here.</p>
        <p>feature will go here.</p>
        <p>feature will go here.</p>
        <p>feature will go here.</p>
    </div>
</div>
{%endblock%}